a#fork_me {
  position: absolute;
  top: 0;
  right: 0;
}

.touch-wheel {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: sans-serif;
}

.touch-wheel .subject {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 170px;
  text-align: center;
}

.touch-wheel .subject img {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  z-index: -1;
}

.touch-wheel .select-preview {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 140px;
  text-align: center;
  font-size: 52px;
  color: white;
  text-shadow: black 0 0 4px;
  transition: color, text-shadow 0.5s;
}

.touch-wheel .select-preview-image {
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  top: 100px;
}

.touch-wheel .select-preview-image:nth-child(3) {
  left: 0;
}
.touch-wheel .select-preview-image:nth-child(4) {
  left: 80px;
}
.touch-wheel .select-preview-image:nth-child(5) {
  left: 160px;
}
.touch-wheel .select-preview-image:nth-child(6) {
  left: 240px;
}
.touch-wheel .select-preview-image:nth-child(7) {
  left: 320px;
}

/*
.touch-wheel .select-preview-image.sliding {
  transition: left 40s;
  transition-timing-function: linear;
  left: 640px;
}
*/

.touch-wheel .options {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  height: 200px;
  overflow: hidden;
}

ul, li {
  padding: 0;
  margin: 0;
}

.touch-wheel .options > li {
  display: block;
  width: 200%;
  left: -50%;
  height: 200px;
  font-size: 36px;
  position: absolute;
  bottom: -170px;
  background: #ffe;
  border: 1px solid gray;
  transition: opacity 0.3s;
  text-align: center;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 0%;
}

.touch-wheel .options > li > .option-title {
  position: absolute;
  left: 120px;
  right: 50%;
}

.touch-wheel li.option-selected {
  background: white;
}

.touch-wheel .option-selected .option-title {
  opacity: 0.5;
}

.touch-wheel.selected .options {
  transition: opacity 1s;
  opacity: 0;
}

.touch-wheel.selected .select-preview {
  color: #f00;
  text-shadow: #f50 0 0 3px;
}

.touch-wheel.selected.correct .select-preview {
  color: #0f8;
}

.touch-wheel.selected.clearing .select-preview-title {
  transition: opacity 0.8s;
  opacity: 0;
}

.touch-wheel.clearing .subject img {
  transition: transform, -webkit-transform 0.6s;
  transform: rotateZ(45deg) translate(200px, -800px);
  -webkit-transform: rotateZ(45deg) translate(200px, -800px);
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
}

.touch-wheel.selected.clearing .select-preview-image {
  transition: transform, -webkit-transform 0.4s;
  transform: rotateZ(45deg) translate(200px, -800px);
  -webkit-transform: rotateZ(90deg) translate(200px, -800px);
  transition-timing-function: ease-in;
}
